In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# pip install matplotlib

# run this cell if the above import statement gives you an error about matplotlib not being found

In [3]:
regular_df = pd.read_csv('regular.csv')
regular_df

,Rk,Season,Lg,Age,Ht,Wt,G,MP,FG,FGA,...,FG%,3P%,FT%,Pace,eFG%,TOV%,ORB%,FT/FGA,ORtg,TS%
0,1,2025-26,NBA,26.4,6-7,216.0,213,242.0,41.8,89.2,...,0.468,0.358,0.791,100.5,0.543,13.2,26.4,0.227,115.6,0.583
1,2,2024-25,NBA,26.3,6-7,215.0,1230,241.3,41.7,89.2,...,0.467,0.360,0.780,98.8,0.543,12.6,25.2,0.189,114.5,0.576
2,3,2023-24,NBA,26.4,6-7,216.0,1230,241.4,42.2,88.9,...,0.474,0.366,0.784,98.5,0.547,12.1,24.2,0.192,115.3,0.580
3,4,2022-23,NBA,26.1,6-6,216.0,1230,241.8,42.0,88.3,...,0.475,0.361,0.782,99.2,0.545,12.5,24.0,0.208,114.8,0.581
4,5,2021-22,NBA,26.1,6-6,215.0,1230,241.4,40.6,88.1,...,0.461,0.354,0.775,98.2,0.532,12.3,23.2,0.192,112.0,0.566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,1950-51,NBA,NaN,NaN,NaN,354,NaN,29.8,83.6,...,0.357,NaN,0.733,NaN,0.357,NaN,NaN,0.293,NaN,0.428
76,77,1949-50,NBA,NaN,NaN,NaN,561,NaN,28.2,83.1,...,0.340,NaN,0.712,NaN,0.340,NaN,NaN,0.284,NaN,0.410
77,78,1948-49,BAA,NaN,NaN,NaN,360,NaN,29.0,88.7,...,0.327,NaN,0.703,NaN,0.327,NaN,NaN,0.248,NaN,0.390
78,79,1947-48,BAA,NaN,NaN,NaN,192,NaN,27.2,96.0,...,0.284,NaN,0.675,NaN,0.284,NaN,NaN,0.190,NaN,0.337
79,80,1946-47,BAA,NaN,NaN,NaN,331,NaN,25.9,92.9,...,0.279,NaN,0.641,NaN,0.279,NaN,NaN,0.171,NaN,0.326

In [4]:
playoffs_df = pd.read_csv('playoffs.csv')
playoffs_df

,Rk,Season,Lg,Age,Ht,Wt,G,MP,FG,FGA,...,FG%,3P%,FT%,Pace,eFG%,TOV%,ORB%,FT/FGA,ORtg,TS%
0,1,2024-25,NBA,26.3,6-7,215.0,84,241.5,38.9,85.6,...,0.455,0.354,0.775,95.6,0.528,12.8,25.9,0.215,113.0,0.566
1,2,2023-24,NBA,26.4,6-7,216.0,82,240.9,39.0,84.4,...,0.462,0.351,0.779,92.7,0.532,11.6,24.1,0.188,113.5,0.566
2,3,2022-23,NBA,26.1,6-6,216.0,84,241.2,40.2,87.2,...,0.461,0.351,0.794,96.1,0.530,11.7,24.0,0.197,113.5,0.566
3,4,2021-22,NBA,26.1,6-6,215.0,87,240.3,38.2,83.7,...,0.456,0.355,0.785,95.5,0.529,12.8,22.3,0.212,111.2,0.567
4,5,2020-21,NBA,26.1,6-6,217.0,85,241.2,40.2,86.9,...,0.462,0.364,0.786,96.1,0.534,11.2,22.8,0.201,114.3,0.571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,75,1950-51,NBA,NaN,NaN,NaN,26,NaN,29.5,78.4,...,0.376,NaN,0.723,NaN,0.376,NaN,NaN,0.308,NaN,0.446
75,76,1949-50,NBA,NaN,NaN,NaN,30,NaN,26.9,78.3,...,0.344,NaN,0.732,NaN,0.344,NaN,NaN,0.343,NaN,0.427
76,77,1948-49,BAA,NaN,NaN,NaN,20,NaN,26.8,81.5,...,0.329,NaN,0.717,NaN,0.329,NaN,NaN,0.306,NaN,0.405
77,78,1947-48,BAA,NaN,NaN,NaN,21,NaN,24.9,91.5,...,0.272,NaN,0.701,NaN,0.272,NaN,NaN,0.244,NaN,0.342
78,79,1946-47,BAA,NaN,NaN,NaN,19,NaN,26.3,99.1,...,0.265,NaN,0.686,NaN,0.265,NaN,NaN,0.182,NaN,0.319

In [ ]:
#columns we care about

In [ ]:
#columns we dont really care about